from lib.character import Career

custom_career_list = []

#
# TEMPLATE
# To add your own careers, follow the example below:
#
# basketweaver = Career(
#     name='Basketweaver',
#     career_time='1d6',
#     career_time_unit='years',
#     prereq='none',
#     strength=1, agility=1, endurance=1, intuition=0, logic=0, willpower=1, charisma=0, luck=0, reputation=0, magic=0,
#     chi=0, psionics=0,
#     available_skills=['[social]', '[crafting]', 'appraisal', 'brawling'],
#     desc='''(requires INT 3+) Basketweaving is a great way to pay the bills. Some make a lifelong career of it.''',
#     available_exploits=[{'Name': '''Basket bouncer''',
#                          'Desc': '''You are used to dealing with inexperienced basketweavers. You gain a +1d6 bonus to all checks vs. basketweavers with fewer Basketweaver career grades than you.'''},
#                         {'Name': '''Fake baskets''',
#                          'Desc': '''Years of checking for fake baskets mean that you can spot the telltale signs. You gain a +1d6 bonus to detect forgeries.'''},
#                         {'Name': '''Gossip''',
#                          'Desc': '''You can gather local gossip and information simply by spending an hour in a basketweaving club, effectively giving you the local knowledge skill wherever you go as long as you are able to refresh your knowledge at a local basketweaving club weekly.'''}])
# custom_career_list.append(basketweaver)
#
########################################
# DO NOT EDIT ANYTHING ABOVE THIS LINE #
########################################




########################################
# DO NOT EDIT ANYTHING BELOW THIS LINE #
########################################
# custom_career_list.sort(key=lambda x: x.name)
for career in custom_career_list:
    career.available_skills.sort()
